@import './base.css';

.VuePagination nav{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.VuePagination nav ul{
  display: flex;
  justify-content: center;
}
.VuePagination nav ul li{
  padding: 10px;
}
.VuePagination{
  display: flex;
  justify-content: center;
}

a{
  text-decoration: none;
  color: whitesmoke;
}
ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}

